#checkoutBasketContainer {
    display: flex;
    justify-content: center;
}

#info {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.infoContact {
    display: flex;
    flex-direction: column;
}

.infoDelivery {
    display: flex;
    flex-direction: column;
}

.postalCity {
    display: flex;
    justify-content: space-between;
}

#postalcode {
    width: 157px;
}

.checkoutHeader {
    display: flex;
    justify-content: space-around;
}

.header {
    padding: 10px;
    background-color: rgb(241, 241, 241);
    width: 111px;
}

.headerInfo {
    background-color: white;
    border-bottom: 0.5px solid black;
}

input {
    background-color: rgb(241, 241, 241);
    border: none;
    margin-bottom: 2px;
    padding: 15px;
}

select {
    background-color: rgb(241, 241, 241);
    border: none;
    margin-bottom: 2px;
    padding: 15px;
}

#infoContinue {
    background-color: black;
    padding: 15px;
    border: none;
    color: white;
    margin-top: 30px;
}





.previousOrContinue {
    display: flex;
    justify-content: space-between;
}

.shippingButton {
    background-color: black;
    color: white;
    padding: 15px;
    border: none;
}

#shipping {
    display: none;
    flex-direction: column;
}

#payment {
    display: none;
}

/* #basketItem {
    flex: 0 0 auto; 
    width: 150px; 
    height: 200px; 
    margin-right: 10px; 
    box-sizing: border-box;
    background-color: grey;
} */

#basketWrapper {
    display: flex; 
    overflow-x: auto; 
    white-space: nowrap; 
    padding: 10px; 
    box-sizing: border-box;

    scrollbar-width: none; /* För Firefox */
    -ms-overflow-style: none; /* För Internet Explorer och Edge */
}

#basketWrapper::-webkit-scrollbar {
    display: none; /* För WebKit-baserade webbläsare */
}

#basketLengthAndTotal {
    display: flex;
}