#checkoutBasketContainer {
    display: flex;
    justify-content: center;
}

#info {
    display: flex;
    flex-direction: column;
    width: 550px;
}

.infoContact {
    display: flex;
    flex-direction: column;
}

.infoContact > h3 {
    margin: 25px 0 25px 0;
}

.infoDelivery > h3 {
    margin: 25px 0 25px 0;
}

#shipping > h3 {
    margin: 25px 0 25px 0;
}

.infoDelivery {
    display: flex;
    flex-direction: column;
}

.postalCity {
    display: flex;
    justify-content: space-between;
}

#postalcode {
    border-right: 1px solid rgb(207, 207, 207);
    width: 350px;
}

.checkoutHeader {
    display: flex;
    justify-content: space-around;
}

.header {
    padding: 15px;
    background-color: rgb(241, 241, 241);
    width: 182px;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.headerInfo {
    background-color: white;
    border-bottom: 0.5px solid black;
}

input {
    background-color: rgb(241, 241, 241);
    border: none;
    margin-bottom: 2px;
    padding: 15px;
}

select {
    background-color: rgb(241, 241, 241);
    border: none;
    margin-bottom: 2px;
    padding: 15px;
}

#infoContinue {
    background-color: black;
    padding: 15px;
    border: none;
    color: white;
    margin-top: 30px;
}

.previousOrContinue {
    display: flex;
    justify-content: space-between;
}

.shippingButton {
    background-color: black;
    color: white;
    padding: 15px;
    border: none;
    margin-top: 30px;
    border: 0.5px solid gray;
    width: 300px;
}

#shipping {
    display: none;
    flex-direction: column;
    padding: 30px;
    border: 1px solid rgb(218, 218, 218);
    margin-top: 40px;
    border-radius: 10px;
    width: 550px;
}

#deliveryFee {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

#deliveryOne {
    border-top: 1px solid rgb(207, 207, 207);
    padding-top: 20px;
}

.delivery {
    font-size: 30px;
}

#payment {
    display: none;
    flex-direction: column;
    width: 550px;
}

#paymentForm {
    display: flex;
    flex-direction: column;
}

#paymentForm > h3 {
    margin: 25px 0 25px 0;
}

#paymentForm > label {
    border: 1px solid rgb(207, 207, 207);
    padding: 15px;
    margin: 1px;
}

.paymentButton {
    background-color: black;
    color: white;
    padding: 15px;
    border: none;
    margin-top: 30px;
    border: 0.5px solid gray;
    width: 300px;
}

#basket {
    box-sizing: border-box;
}

#basketWrapper {
    display: flex;
    flex-direction: column;
}

.basketCard {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(207, 207, 207);
}

#basketImage {
    width: 100px;
}

.basketInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


















/* #basketItem {
    flex: 0 0 auto; 
    width: 150px; 
    height: 200px; 
    margin-right: 10px; 
    box-sizing: border-box;
    background-color: grey;
} */

#basketWrapper {
    display: flex; 
    overflow-x: auto; 
    white-space: nowrap; 
    padding: 10px; 
    box-sizing: border-box;

    scrollbar-width: none; /* För Firefox */
    -ms-overflow-style: none; /* För Internet Explorer och Edge */
}

#basketWrapper::-webkit-scrollbar {
    display: none; /* För WebKit-baserade webbläsare */
}

#basketLengthAndTotal {
    display: flex;
}