* {
    margin: 0;
    padding: 0;
}

#productList {
    display: flex;
    justify-content: space-evenly;
}

.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 30rem;

}

.productCard:hover {
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    cursor: pointer;

}

.productCardImg {
    width: 20rem;
    height: 28rem;
    /* background-color: black; */
}

.productCardText {
    width: 19rem;
    height: 2rem;
    /* margin: 0rem 0rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productCardText p {
    margin: 0;
}