/* product news FRONTPAGE*/

.slideshow-container {
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slides img {
  max-height: 550px; 
  width: auto;
  object-fit: cover; 
  object-position: center ;
}

.slides{
  cursor: pointer;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.6);
}

#hero {
  background-color: rgb(250 237 188);
}

#hero h2{
  position: absolute;
  left: 8px;
  top: 9px;
  z-index: 100;
  background-color: var(--mainColor);
  color: var(--mainTextColor);
  padding: 14px;
  font-size: 24px;
  cursor:default;
}

.text {
  font-size: 15px;
  position: absolute;
  width: 100%;
  bottom: 8px;
  text-align: center;
}

.text p {
  color: #f2f2f2;
  background-color: black;
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 8px;
}

.slides:hover .text p{
  color: black;
  background-color: #f2f2f2;
}

.numbertext {
  color: black;
  background-color: whitesmoke;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 8px;
  right: 9px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.slides {
  display: none;
  
}
.sliderImg{
  width: 100%;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}