/************************************
  Change fonts, colors etc  when decided
************************************/

@import "slider.css";
@import "nav.css";

:root {
  --mainFont:"Open Sans", system-ui, sans-serif;
  --mainColor: rgb(250 237 188);
  --mainTextColor:#000; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  font-size: 14px;
  font-family: var(--mainFont);
  color:var(--mainTextColor);
}

img {
  max-width:100%;
  vertical-align: middle;
}

#logo {
  font-weight: 700;
}

/* #hero {
  background-image: url(../images/hero.jpg);
} */

#main-header{
  display:flex;
}

/**** TYPOGRAPY ****/

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
}

p {
  margin-bottom:15px;
}
p:nth-last-child(1){
  margin-bottom:0;
}


#main-footer{
  margin-top: 50px;
  background-color: rgb(250 237 188);
  padding:10px;
}

/********************* MEDIA QUERIES ************* MEDIA QUERIES *************/


/* Desktop Styles */
/* @media only screen and (min-width: 1000px) and (max-width: 10000px) {

}  */



